# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Cache and logs (Symfony3)
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar


# Vagrant
/.vagrant/

# Frontend files and tools
/node_modules/

# PHPStorm
/.idea/*

# Frontend build data
/web/build/
/src/Frontend/styles/custom.css
/src/Frontend/styles/custom.css.map
/.sass-cache/

# Custom configuration
/app/config/local_config_dev.yml
/app/config/local_config_prod.yml
/app/config/local_config_test.yml
