# Cache and logs (Symfony)
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Symfony Requirements
/var/SymfonyRequirements.php

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini
/app/config/parameters.*.yml

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/generate-frontend-recaptcha.sh
!bin/.gitkeep
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/phpunit.xml

# Build data
/build/

# PHAR
/composer.phar
/behat.phar
/phpunit.phar

# Vagrant
/.vagrant/
/vagrant/machine/local.yaml

# Puppet
/vagrant/hieradata/local.yaml
/vagrant/puppet/modules/*
!vagrant/puppet/modules/.gitkeep

# Frontend files and tools
/node_modules/
/node_modules

# PHPStorm
/.idea/*

# Frontend build data
/web/build/

# NPM
npm-debug.log.*
npm-debug.log

# Custom configuration
/app/config/local_config_dev.yml
/app/config/local_config_prod.yml
/app/config/local_config_test.yml

# Capistrano Configuration
/deploy/config/deploy.yaml
/deploy/config/develop.yaml
/deploy/config/production.yaml

# LocalStorage Emulation
/node-emulator/

# ReCAPTCHA
/src/Frontend/config/recaptcha.js
