language: php
php:
  - 7

sudo: required
dist: trusty
group: edge

services:
  - redis-server

addons:
  apt:
    packages:
    - mysql-server-5.6
    - mysql-client-core-5.6
    - mysql-client-5.6

branches:
  only:
    - master

env:
  - NODE_VERSION=6.x
  - NODE_VERSION=7.x

# composer cache for faster install process and less issues with github api
cache:
  directories:
    - $HOME/.composer/cache/files

# prepare travis ci for the build process
install: ./travis-ci/install.sh

# linters
before_script: ./travis-ci/lint.sh

# execute tests
script: ./travis-ci/tests.sh
