default:
  suites:
    registration:
      contexts:
        - AppBundle\Behat\RegistrationContext
      filters:
        tags: "@registration"
      type:   symfony_bundle
      bundle: AppBundle
    online_users:
      contexts:
        - AppBundle\Behat\OnlineUsersContext
      filters:
        tags: "@online_users"
      type:   symfony_bundle
      bundle: AppBundle
    uuid:
      contexts:
        - AppBundle\Behat\UUIDContext
      filters:
        tags: "@uuid"
      type:   symfony_bundle
      bundle: AppBundle
  formatters:
    pretty:
      paths:    false
      snippets: false
      verbose:  true
  extensions:
    Behat\Symfony2Extension: ~
