default:
  suites:
    user:
      filters: { tags: "@user" }
      type:    symfony_bundle
      bundle:  AppBundle
      contexts:
        - AppBundle\Tests\Functional\AppContext
        - AppBundle\Tests\Functional\API\User\RegistrationContext
        - AppBundle\Tests\Functional\API\User\OnlineUsersContext
        - AppBundle\Tests\Functional\API\User\UserDetailsContext
        - AppBundle\Tests\Functional\Redis\OnlineUsersRedisClusterContext
        - AppBundle\Tests\Functional\Doctrine\DQL\UsersContext
        - AppBundle\Tests\Functional\Doctrine\DQL\RoleContext
    locale:
      filters: { tags: "@locale" }
      type:    symfony_bundle
      bundle:  AppBundle
      contexts:
        - AppBundle\Tests\Functional\AppContext
        - AppBundle\Tests\Functional\API\Locale\SwitcherContext
        - AppBundle\Tests\Functional\API\Locale\ProviderContext
    doctrine:
      filters: { tags: "@fixtures" }
      type:    symfony_bundle
      bundle:  AppBundle
      contexts:
        - AppBundle\Tests\Functional\AppContext
        - AppBundle\Tests\Functional\Doctrine\Database\FixtureContext
        - AppBundle\Tests\Functional\Doctrine\Database\ProductionFixtureContext
        - AppBundle\Tests\Functional\Doctrine\Database\InstallContext
  formatters:
    pretty:
      paths:    false
      snippets: false
      verbose:  true
  extensions:
    Behat\Symfony2Extension: ~
