# Target
deploy_to: /var/www/sententiaregum

# Releases
keep_releases: 3

# SSH
port:           22
webserver_user: www-data
local_user:     foobar
ssh_user:       foobar
allow_sudo:     true

# Server Config
server:
  production:
    domain: 'example.com'
  develop:
    domain: 'example.dev'

# Repository
repo_url: 'git@github.com:Sententiaregum/Sententiaregum.git'

# Branch
branch: master

# Git SSH Credentials
#git_username: sententiaregum
#git_password: sententiaregum
