{% spaceless %}
<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div style="font-family: sans-serif !important;">
            <h3>{{ 'NOTIFICATIONS_HELLO_PHRASE'|trans({}, 'notifications') }} {% block username %}{% endblock %}!</h3>

            <p>{% block content %}{% endblock %}</p>
        </div>
    </body>
</html>
{% endspaceless %}
