services:
  app.doctrine.fixtures_loader:
    class: AppBundle\Service\Doctrine\DataFixtures\ConfigurableFixturesLoader
    arguments:
      - "@doctrine.orm.default_entity_manager"
  app.request.dto_param_converter:
    class: AppBundle\Request\ParamConverter\DTOConverter
    arguments:
      - "@property_accessor"
    tags:
      - { name: request.param_converter, converter: dto }
  app.user.registration.activation_key_generator:
    class: AppBundle\Model\User\Util\ActivationKeyCode\ActivationKeyCodeGenerator
  app.user.registration.name_suggestor:
    class: AppBundle\Model\User\Util\NameSuggestion\ChainSuggestor
    arguments:
      - "@app.repository.user"
  app.ip.tracer:
    class: AppBundle\Service\Ip\FreeGeoIpTracingService
    arguments:
      - "@guzzle.client.freegeoip"
  app.view.i18n_error_response_builder:
    class: AppBundle\View\I18nResponseFormatBuilder
    arguments:
      - "@translator"
  app.user.service.date_time_comparator:
    class: AppBundle\Model\User\Util\Date\DateTimeComparison
